html {
    overflow: hidden;
}

body{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 50px;
    font-family: arial, sans-serif;
}
.parallax-section {
    position: relative;
    width: 100%;
    
    overflow: hidden;
}
.parallax-section::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: translateZ(-150px) scale(4);
    
}
.section-title {
    color: #18B4CF;
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 26px;
}


/*HEADER*/
.header {
    background: #1D2124;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-architect {
    display: flex;
    justify-content: center;
    align-items: center;
}
.architect {
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
}
.darc-scuare {
    background: #1A1D20;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {

    
}
.nav-link {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 15px;
}
.search-link {
    color: #ffffff;
    
}




/*SUBSVRWBE-ARTICLES*/

.subscribe-articles {
    height: 387px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subscribe-articles::before {
    background: bottom/cover no-repeat;
    background-image: url(../img/city-picture.jpeg);

}
.buttons {
    display: flex;
    margin-top: 22px;
}
.button-subscribe-article {
    width: 170px;
    height: 55px;
    border-radius: 5px;
    font-size: 18px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-subscribe {
    background: #89CA62;
    margin-right: 10px;
}
.button-article {
    background: #14B9D5
}



/*POSTS*/
.posts {
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post-title {
    color: #353A3D;
    font-size: 18px;
    height: 45px;
    background: #ffffff;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-posts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 860px;
    width: 1150px;
}
.post-link {
    width: 370px;
    margin: 8px;
}



/*OUR CLIENTS*/
.clients {
    height: 588px;
    display: grid;
    align-content: center;
    justify-items: center;
}
.clients::before {
    background: center/cover no-repeat;
    background-image: url(../img/hotel-incide-pictyre.jpeg);
}
.clients-title {
    font-size: 32px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
}
.clients-title::after {
    content: "";
    background: #14B9D5;
    height: 3px;
    width: 60px;
    margin: 30px auto;
    display: block;
}
.clients-list {
    display: flex;
    width: 881px;
    justify-content: space-between;
    align-items: center;
}


/*RATES*/
.container-examples {
    display: inline-grid;
    grid-template-columns: repeat(7, 1fr);
}




/*NEWS*/
.news {
    display: grid;
    justify-content: center;
}
.prophecy-hotel {
    grid-area: prophecy;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.description {
    margin: 25px;
    text-align: right;
}

.description .news-title {
    text-align: right;
}
.nebula-hotel {
    grid-area: nebula;

}
.news-title {
    text-align: center;
    margin: 15px 0;
    font-size: 18px;
    font-weight: bold;
    
}

.western-piramid {
    grid-area:  western;
}

.grand-meadows {
    grid-area: grand;
}

.wanderlust-resort {
    grid-area: wanderlust;
}

.twin-sanctuary {
    grid-area: twin;

}

.prism-hotel {
    grid-area: prism;
}

.kings-resort {
    grid-area: kings;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.container-news {
    display: grid;
    width: 1150px;
    grid-row-gap: 22px;
    grid-column-gap: 30px;
    grid-template-areas: 
        "prophecy prophecy prophecy nebula"
        "western western grand grand"
        "wanderlust wanderlust twin twin"
        "prism kings kings kings"
}

.news-link {
    background: #F9F7F7;
    color: #5B6469;
    font-size: 14px;
}

.news-img {
    width: 100%;
}
.image {
    height: 100%;
}


/*FOOTER*/
.copyright-logo {
    background: #1D2124;
    height: 80px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}
.copiright-logo-container {
    width: 1150px;
    display: grid;
    grid-template-columns: 1fr 90px;
    justify-content: space-between;
    align-items: center;
    align-content: end;
}
.copiright {
    font-size: 13px;
    color: #ffffff;
}

.footer-link-text {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    
}
.footer-link {
    display: grid;
    grid-template-columns: 1fr 1fr;
}












